<div class="header">
  <div class="searchbar">
    <input type="text" placeholder="Search..." style="color: #000;">
    <button style="color: #000;">Search</button>
  </div>
  <div class="pictures">
    <a routerLink=""> <i class="fa fa-bell"></i></a>

    <a routerLink=""> <i class="fa fa-shopping-cart"></i></a>

    <a routerLink=""> <i class="fa fa-cog"></i></a>

    <span>Username</span>
   <!-- <div class="picture"> -->

<!--      <div class="dropdown">-->
<!--        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggleDropdown()" [attr.aria-expanded]="isDropdownOpen ? 'true' : 'false'">-->
<!--          <a href=""> <i class="fa fa-user"></i></a>-->
<!--        </button>-->
<!--        <ul class="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }" aria-labelledby="dropdownMenuButton">-->
<!--          <li><a class="dropdown-item" routerLink="#">Account</a></li>-->
<!--          <li><a class="dropdown-item" routerLink="#">Settings</a></li>-->
<!--          <li><a class="dropdown-item" routerLink="#">Logout</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--    </div> -->
  </div>
</div>
