.header {
  background-color: #727272;
  color: #000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: #6e2222fb;
}

.searchbar {
  display: flex;
  width: 600px;
  margin: 0 10px;

}

.searchbar input[type="text"] {
  flex-grow: 1;
  padding: 6px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #000;
}

.searchbar button {
  background-color: #ddd;
  border: none;
  color: #000;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.pictures {
  display: flex;
  align-items: center;
  color: #000;
}

.pictures i {
  margin: 0 10px;
  border-radius: 50%;

  width: 30px;

}
.logo button {
  color: #000;
  background-color: #727272;
  border-color: #727272;
  font-weight: bold;
}
.pictures a{
  text-decoration: none;
  color: #000;
}
.picture {
  position: relative;
  display: inline-block;
}
.collapse.show {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #727272;
  min-width: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin-top: 8px;
  border-radius: 4px;
}

.show {
  display: block;
}

.dropdown-toggle {
  border: none;
  background-color: #727272;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}


.dropdown-menu li {
  list-style: none;
  margin: 4px 0;
}

.dropdown-item {
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {

  text-decoration: none;
}
.dropdown-menu.show {
  transform: translateX(-38%);
}
