<div class="table-responsive ">
<table class="table table-hover  ">
    <thead class="bg-dark text-white ">
      <tr>
        <th>Company</th>
        <th>Category</th>
        <th>PIF Enrolled TOS</th>
        <th>PIF $ Secured</th>
        <th>PIF $ Secured Refund</th>
        <th>PIF -> to APP</th>
        <th>DfP $ Secured</th>
        <th>Executed Deferred Payments</th>
        <th>IP Refund</th>
        <th>Failed ACH IP</th>
        <th>APP Enrollment</th>
        <th>APP $ Canceled By</th>
        <th>APP $ Canceled From</th>
        <th>APP $ Secured (+)</th>
        <th>APP $ Secured (-)</th>
        <th>APP Payment Refunds</th>
        <th>Failed ACH APP</th>
        <th>Total PFR$ Secured</th>
        <th>Total Refunds</th>
        <th>Adjusted PFR$ Secured</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>
          <div>{{ company.name }}</div>
          <div class="subtitle">{{ company.email }}</div>
        </td>
        <td>{{ company.category }}</td>
        <td>
          <div>{{ company.views }}</div>
          <div class="subtitle">{{ company.ViewsTime }}</div>
        </td>
        <td>{{ company.revenue }}</td>
        <td class="status-cell">
          <span [ngClass]="{'status-green flash': company.status === 'In Progress', 'status-red': company.status === 'Done'}">{{ company.status }}</span>
        </td>
        <td >
            <div class="sales-cell">
                <span style="margin-right: 10px;">{{ company.sales }}</span>
                <i [ngClass]="{'fa-solid fa-arrow-trend-up ': company.sales > '50'}" style="color:#00ff33; "></i>
                <i [ngClass]="{'fa-solid fa-arrow-trend-down': company.sales < '50'}" style="color: #ff0000; "></i>
                
            </div>      
       </td>
      </tr>
    </tbody>
  </table>
</div>