<div class="table-responsive  ">
<table class="table table-hover table-striped table-bordered table-sm " [id]="ID">
    <thead class="bg-dark text-white ">
      <tr>
        <th>{{chartData.subTitle}}</th>
        <th *ngFor="let user of chartData.data">{{user.label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let name of chartData.names;let indexOfElement = index">
        <td>{{name}}</td>
        <td *ngFor="let user of chartData.data">{{user.value.at(indexOfElement) }} </td>
      </tr>
    </tbody>
  </table>
</div>
