table {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.table-responsive {
  margin: 0 1.4rem !important;
}

th {
  background-image: linear-gradient(to bottom, black, #333);

}

.subtitle {
  font-size: 12px;
  color: #999;
}

.status-cell {
  background-color: transparent;
}

table.table.table-hover {
  width: max-content;
}

.status-cell span {
  display: inline-block;
  padding: 1px 10px;
  border-radius: 100px;
  width: max-content;
}

.status-green {
  background-color: #28a745;
  color: #fff;
}

.status-red {
  background-color: #dc3545;
  color: #fff;
}

.sales-cell {
  position: relative;
  width: max-content;
}

.sales-cell .subtitle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sales-cell .subtitle i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.sales-cell .subtitle i.fa-chevron-up {
  color: green;
}

.sales-cell .subtitle i.fa-chevron-down {
  color: red;
}

span.flash {
  animation: flash 1s ease-in-out infinite;

}

.table-responsive {
  margin: 5px;
  border-radius: 10px;
}

.table-responsive {
  width: 91rem;
  overflow-x: scroll;
  height: 24rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}