<div id="container" class="card container">
  <div class="dropdown" id="button">
    <button id="menuButton" type="button" data-bs-toggle="dropdown"> <fa-icon [icon]="faEllipsisH" size="1x"></fa-icon></button>
    <ul class="dropdown-menu">
      <li><button type="button" class="dropdown-item">Show Data</button></li>
    </ul>
  </div>
  <div class="header">
    <h4 class="card-title"><ng-content select="[title]"></ng-content></h4>
  </div>
  <div class="clock">
  <div class="card-body">
      <h5 style="margin-top: 0.1rem;font-weight: bold"><ng-content select="[label]"></ng-content></h5>
  </div>
    <div id="comp-container">
      <app-dough [depUserData]="depUserData"></app-dough>
    </div>
  </div>
</div>
