#container{
  display: block;
  flex-direction: row;
  width: 22rem;
  height: 15rem;
  padding-right: 0;
}

#comp-container {
  width: fit-content;
  padding-top: 0.5rem;
  display: block;
}

.card-title {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  width: fit-content;
}

.card-body {
  padding: 0;
}

.clock{
  display: flex;
}

.header {
  display: flex;
}

h5{
  font-size: 14px;
  font-weight: lighter;
  /*display: flex;*/
}

#menuButton{
  position: absolute;
  /*padding: 0 5px;*/
  background-color: transparent;
  border: none;
  justify-content: center;
  right: 0;
  /*top: 16px;*/
  border-right: none;
  border-top: none;
  border-bottom-left-radius: 5px;
}


@media (max-device-width: 480px) {

  #container {
    width: 19rem;
    height: 13rem;
  }

  .card-body > h4,h5,p{
    font-size: inherit;
    width: max-content;
  }

  .card-body {
    padding: 2rem 0 ;
  }

  #comp-container {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    height: fit-content;
  }

  h4 {
    font-weight: bolder;
    font-size: 30px;
  }


}

@media (max-device-width: 768px) {

  #container {
    width: 25rem;
    height: 13rem;
  }

  .card-body > h4,h5,p{
    font-size: large;
  }

  .card-body {
    padding: 2rem 0 ;
  }

  /*#comp-container {*/
  /*  padding-top: 1.5rem;*/
  /*  padding-right: 1.5rem;*/
  /*  height: fit-content;*/
  /*}*/

  h4 {
    font-weight: bolder;
  }


}
