.container {
  padding: 0;
  min-width: 100%;
}

app-table {
  margin-top: 5rem;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.buttons {
  position: relative;
  right: 1rem;
}

.header h4 {
  position: relative;
  left: 1rem;
}

.buttons button {
  border: transparent;
  background-color: transparent;
}

/*@media (min-width: 576px) {*/
/*  #container {*/
/*    max-width: fit-content;*/
/*  }*/
/*}*/

/*@media (max-device-width: 480px) {*/

/*  .card-body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 0;*/
/*  }*/

/*  #container {*/
/*    width: 19rem;*/
/*    display: flex;*/
/*    height: 16rem;*/
/*    padding: 0;*/
/*  }*/

/*  .right {*/
/*    border: none;*/
/*    height: 16rem;*/
/*    padding: 0 0.8rem;*/
/*  }*/

/*  #button {*/
/*    padding-top: 0;*/
/*  }*/

/*  .left {*/
/*    padding: 1rem 0;*/
/*    width: 19rem;*/
/*  }*/

/*  .left-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    border: 1px solid lightgrey;*/
/*    border-radius: 5px;*/
/*    padding: 1rem;*/
/*    width: 19rem;*/
/*  }*/

/*  .chart {*/
/*    margin-left: 1rem;*/
/*    padding-top: 1rem;*/
/*  }*/

/*  .card-title {*/
/*    font-size: 16px;*/
/*    margin-top: 0.4rem;*/
/*    position: absolute;*/
/*    margin-left: 0;*/
/*  }*/

/*}*/

@media (max-device-width: 768px) {

  .card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #container {
    width: 25rem;
    display: flex;
    height: 15rem;
    padding: 0;
  }

  .right {
    border: none;
    height: 15rem;
    padding: 0 0.8rem;
  }

  #button {
    padding-top: 0;
  }

  .left {
    padding: 1rem 0;
  }

  .left-container {
    display: flex;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1rem;
    height: 13rem;
    width: 25rem;
  }

  .chart {
    margin-left: 1rem;
    padding-top: 1rem;
  }

  .card-title {
    font-size: 20px;
    margin-top: 0.4rem;
    position: absolute;
    margin-left: 0;
  }

}
