<div id="container" class="card container">
  <div class="card-body">
    <div class="right">
    <h4 class="card-title">Title</h4>
    <app-bar [userData]="userData" [MPRUserData]="MPRUserData"></app-bar>
    </div>
<!--    <div class="left">-->
<!--      <div class="left-container">-->
<!--      <div class="desc">-->
<!--      <div class="dropdown" id="button">-->
<!--        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">User</button>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a class="dropdown-item" href="#">MPR User</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--      <h4>$25,282</h4>-->
<!--      <p>Budget: 56,800</p>-->
<!--      </div>-->
<!--      <div class="chart">-->
<!--       <app-barLineChart></app-barLineChart>-->
<!--      </div>-->
    </div>
</div>
