<nav class="navbar navbar-expand px-2" *ngFor="let header of Headers">
    <div class="side-nav-button p-2 me-3 text-light offcanvas-collapse " data-bs-toggle="collapse"
        data-bs-target="#side-nav-content">
    </div>
    <div>
        <a class="navbar-brand" href="#" style="color: white;">{{header.companyname}}</a>
    </div>
    <div class="search-box mx-auto d-flex">
        <input class=" search form-control me-2" type="search" placeholder="search">
        <button type="submit"><i class="fa fa-solid fa-search fa-xl"></i></button>
    </div>
    <div class="right-side">
        <div class="user-profile d-flex">
            <img [src]="header.userprofile" alt="User Profile Picture">
            <div class="user-info">

                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle username btn-sm" style="color: white;" href="#"
                        role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{header.username}}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">LogIn</a></li>
                        <li><a class="dropdown-item" href="#">LogOut</a></li>
                        <li><a class="dropdown-item" href="#">SignUp</a></li>
                    </ul>
                </div>
                <div class="job-title">{{header.usercareer}}</div>
            </div>
        </div>
        <div class="icons" style="color: white;">
            <i class="fa fa-solid fa-bell fa-lg"></i>
            <i class="fa fa-solid fa-gear fa-lg"></i>
            <i class="fa fa-solid fa-bolt fa-lg"></i>
        </div>
    </div>
</nav>
