
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h2 class="card-title">USER / MPR USER / PERCS GOLD DASHBOARD</h2>
    </div>
  <div class="label">
    <p>IP / APP</p>
  <p>PERCS gold</p>
      </div>
      <div class="row">
        <div class="">
          <div class="card">
            <div class="vline"></div>
            <div id="kpi-cont" class="card-body ">

              <div class="kpi" *ngFor="let kpi of kpis; let i=index">
                <div class="kpi-image">
                  <img [src]="kpi.icon" alt="{{ kpi.value | currency }} icon">
                  <div class="popup" *ngIf="i <2 " >

                    <!-- Popup content -->
                    <table class="table">
                      <tr>
                        <th>User</th>
                        <div class="padding"></div>
                        <th>MPR User</th>
                      </tr>
                      <tr>
                        <td>IP on Account
                          <p class="value">{{ kpi.useracc }}</p>
                        </td>
                        <div class=""></div>
                        <td>IP on Account
                          <p class="value">{{ kpi.mpracc }}</p>
                        </td>
                      </tr>
                      <tr>
                        <td>IP on App
                          <p class="value">{{ kpi.userapp }}</p>
                        </td>
                        <div class=""></div>
                        <td>IP on App
                          <p class="value">{{ kpi.mprapp }}</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="popup" *ngIf="i ==2 ">
                    <table  class="t1">


                      <tr>
                        <td>% Total Secured / Encounters Balance
                          <p class="value"> {{kpis[2].total1}} %</p>
                        </td>


                      </tr>
                      <tr>
                        <td>% Total Cash / Encounters Balance
                          <p class="value"> {{kpis[2].total2}}%</p>
                        </td>

                      </tr>
                     </table>

                  </div>
                </div>
                <div class="kpi-text">

                  <h3 *ngIf="i <2 ">{{ kpi.value | currency }}</h3>
                  <h3 *ngIf="i >=2 ">%{{ kpi.value }}</h3>
                  <p class="card-subtitle">{{ kpi.subtitle }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>


