.card {
  border: none;
  width: 100%;
}

.card-header {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  justify-content: space-evenly;
}

.card-title.Updated {
  font-size: 16px;
  font-weight: normal;
  color: whitesmoke;
}

.card-body {
  /* padding: 15px; */
  justify-content: space-between;
  width: 100%;
  display: flex;
  /* padding: 10px; */
  padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 73px;
    padding-right: 91px;
}

.kpi-image img {
  width: 50px;
  height: 50px;
}

.kpi-text h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.card-subtitle {
  margin: 0;
  font-size: 16px;
  color: #777;
  font-weight: 500;
}

.card-header.d-flex.justify-content-between {
  background: linear-gradient(to bottom, #6A5ACD, #BA55D3);;
}

.col-sm-6:nth-child(odd) .card-body {
  border: none;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-left: 0;
  padding-right: 0;
}

.card-header.d-flex.justify-content-between{
  margin: 5px;
  border-radius: 10px;
}

.row > div{
  display: flex;
  justify-content: center;
}

@media (max-device-width: 991px){
  #kpi-cont {
    width: 100%;
  }

}
.kpi-image{
  position: relative;
  padding: 5px;
  
}
.popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 10px;
  /* background-color: #fff; */
  border: 1px solid #ccc;
  border-radius: 21px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: visibility 0s, opacity 0.5s ease-in-out;
  z-index: 1;
  display: flex;
width: 400%;
height: 220%;
    background-color: #1C4E80;
    font-variant: all-small-caps;
    
    transition: opacity 1s;
    
}

/* .popup p {
  margin: 0;
} */

.kpi-image:hover .popup {
  visibility: visible;
  opacity: 0.9;
}
.vline {
  border-left: 1px solid #1321c3;
  height: 73%;
  position: absolute;
  left: 53%;
  transform: translateX(-50%);
  margin-top: 11px;
}
.horizontal-line {
  border: none; /* remove the default border */
  border-top: 1px solid black; /* add a solid black line on the top */
  margin-top: 10px; /* adjust the distance between the word "user" and the line as needed */
}
/* .vertical-line {
  height: 20px; 
  border-left: 1px solid black; 
  margin-left: 10px; 
} */
.vertical-line1{
  height: 50px; /* adjust the height of the line as needed */
  border-left: 1px solid transparent; /* adjust the color and style of the line as needed */
  margin-left: 10px; /* adjust the distance between the word "user" and the line as needed */
padding: 5px;
position: absolute;

}
.popup table {
  font-size: 14px;
  position: relative;
  
}
.popup .table::after{
  content: "";
  width: 1px;
  height: 46%;
  position: absolute;
  background-color: #ccc;
  top: 29%;
  left: 50%;
}
.kpi-image .popup::after{
  content: " ";
  position: absolute;
  bottom: 98%;  /* At the top of the tooltip */
  left: 29%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1C4E80 transparent;;
}

.value{
  font-weight: bolder;
  text-align: center;
  margin: auto;
  /* color: white; */
}
.value p {
  padding: 0%;
}
.vertical-line2{
  height: 50px; /* adjust the height of the line as needed */
  border-left: 1px solid black; /* adjust the color and style of the line as needed */
  margin-left: 10px; /* adjust the distance between the word "user" and the line as needed */
padding: 5px;
}
.padding{
padding: 6px;
}

.kpi{
  display: flex;
}

.label  {
display: flex;
justify-content: space-around;
}
.label p {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.table th {
 text-align: center;
 color: white;
 font-weight: 1000;
 /* text-decoration: underline; */
 font-size: large;
 /* border:  #ccc 1px solid */
}
.table th:nth-child(2)::before{

}
.table td {
  color: gold;
  text-align: center;
  font-weight: bold;
}
.table td p {
  text-align: center;
}
p.value{
  padding: 0px;
  color: white;
}
.value p {
  color: white;
}
.t1 td {
color: gold;
font-weight: bolder;
}