<div class="goal-overview card">
  <div>
    <h4>{{ componentName }}</h4>
    <div class="goal-overview-chart" style="height:8.5rem; width:8.5rem ">
      <canvas
      id="DoughChart_EncountersBalanceSkipped"
      width="400"
      height="100"
      aria-label="Hello ARIA World"
      role="img"
      >{{ chart }} </canvas>
    </div>
  </div>
  <h6 style="text-align: center;">{{ footerTitle }}</h6>
  <div class="goal-overview-footer">
    <div>
      <span>{{ leftSideFooterTitle }}</span>
      <span> {{  Encounters_Balance_skipped_Other | currency}}</span>
    </div>
    <div>
      <span>{{ RightSideFooterTitle }}</span>
      <span> {{ Encounters_Balance_skipped_Bad_Debt | currency}}</span>
    </div>
  </div>
</div>
