<div class="chart-container">
  <button type="button" (click)="prevGroup()"><i class="fa fa-arrow-circle-o-left fa-2x"></i></button>
  <canvas  [id]="chart_ID" width="400" height="100" aria-label="Hello ARIA World" role="img">{{ chart }} </canvas>
  <button *ngIf="userData != undefined" type="button" (click)="nextGroup(userData)"><i class="fa fa-arrow-circle-o-right fa-2x"></i></button>
  <button *ngIf="MPRUserData != undefined" type="button" (click)="nextGroup(MPRUserData)"><i class="fa fa-arrow-circle-o-right fa-2x"></i></button>
</div>
