* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

.chart-container {
  width: 57rem;
  position: relative;
}

button {
  height: fit-content;
  align-self: center;
  background-color: unset;
  border: none;
}

button:nth-child(1) {
  position: relative;;
  right: 0.7rem;
}

i {
  color: #463e46;
}

/*@media (max-device-width: 480px){*/
/*  .chart-container {*/
/*    width: 16rem;*/
/*    height: 20rem;*/
/*  }*/

/*}*/

@media (max-device-width: 768px) {
  .chart-container {
    width: 24rem;
    height: 15rem;
  }

  #bar-chart {
    width: 24rem !important;

  }
}
