<div id="header">
  <app-header></app-header>
</div>
<div id="show">
  <div id="sidebar">
  <app-sidebar></app-sidebar>
  </div>
  <div id="cont">
<!--    <app-kpis></app-kpis>-->
    <app-cards-container [chartData]="chartData" [depDataChart1]="depDataChart1" [depDataChart2]="depDataChart2" [depDataChart3]="depDataChart3" [depDataChart4]="depDataChart4"></app-cards-container>
<!--    <div id="sdsd">-->
<!--    <div class="bgt">-->
<!--      <app-browser-states></app-browser-states>-->
<!--      <app-goal-overview></app-goal-overview>-->
<!--      <app-transactions></app-transactions>-->
<!--  </div>-->
</div>

