#show {
  display: flex;
  gap: 8px;
  position: relative;
  top: 3.5rem;
}

#cont {
  flex: auto;
  position: relative;
}

#sidebar {
  transition: ease-in-out;
  transition-duration: 0.4s;
}

/* mohammad */
.bgt{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: nowrap;
  padding: 0 1.3rem;
}

@media  (max-width: 480px)  {
  .bgt{
    flex-direction: column;
    gap: 20px;
  }

  #sidebar {
    display: none;
  }
}

@media (max-width: 768px)  {
  app-browser-states{
    flex: 1 100%;
  }
  app-transactions{
    flex: 1 calc(50% - 8px);
  }
  app-goal-overview{
    flex: 1 50%;
  }
  .bgt{
    gap: 8px;
    flex-wrap: wrap;
  }
}

@media  (min-width: 769px){
  app-browser-states,
  app-transactions,
  app-goal-overview{
    flex-grow: 1;
    width: calc(100% / 3);
  }
}
/* mohammad */


