#show {
  display: flex;
  position: relative;
  top: 3.9rem;
  width: 99.8%;
}

#cont {
  flex: auto;
  position: relative;
  padding-bottom: 0.5rem;
}

#sidebar {
  display: block;
  transition: ease-in-out;
  transition-duration: 0.4s;
  width: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.buttons {
  position: relative;
  right: 1rem;
}

.header h4 {
  position: relative;
  left: 1rem;
}

.buttons button {
  border: transparent;
  background-color: transparent;
}

/* mohammad */
.bgt{
  display: flex;
  justify-content: space-between;
  gap: 9px;
  flex-wrap: wrap;
  padding-right: 0.5rem;

}

@media  (max-width: 480px)  {
  .bgt{
    flex-direction: column;
    gap: 20px;
  }
  #sidebar {
    display: none;
  }
}

@media (max-width: 768px)  {
  app-browser-states{
    flex: 1 100%;
  }
  app-transactions{
    flex: 1 calc(50% - 8px);
  }
  app-goal-overview{
    flex: 1 50%;
  }
  .bgt{
    gap: 8px;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 990px){
  app-browser-states,
  app-transactions,
  app-goal-overview{
    flex-grow: 1;
    width: calc(100% / 3);
  }
}
@media  (min-width: 990px){
  app-browser-states,
  app-transactions,
  app-goal-overview{
    flex-grow: 1;
    width: calc(100% / 4);
  }
}
/* mohammad */


