/* Sidebar Styles */

#sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: fixed;
  height: 100vh;
  background-color: #1C4E80;
  z-index: 1;
  border-top: 4px solid white;
}

/* Toggle Styles */

#viewport {
  display: flex;
}


#sidebar header {
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  display: flex;
  align-items: center;
}

#sidebar header p {
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  width: calc(100% - 45px - 21px);
  margin-left: 10px;
}

#sidebar header p:hover{
  color: #fff;
}

#sidebar .nav a{
  background: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 16px 20px 16px 17px;
  width: calc(100% - 45px - 18px);
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

ul {
  display: flex;
  flex-direction: column;
}

ul li i{
  padding-right: 12px;
  color: white;
  justify-content: space-between;
  font-size: 21px;
  width: calc(45px + 6px);
  text-align: center;
}

ul li{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
