<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar" [@slideInOut]="menuState">
    <header>
      <a href="#" (click)="toggleMenu()">Sprinters </a> <fa-icon [icon]="faHome" style="color: white" (click)="toggleMenu()"></fa-icon>
    </header>
    <ul class="nav">
      <li>
        <a href="#">Dashboard</a>
        <fa-icon [icon]="gauge"></fa-icon>
      </li>
      <li>
        <a href="#">Shortcuts</a>
          <fa-icon [icon]="gauge"></fa-icon>
      </li>
      <li>
        <a href="#">Overview</a>
          <fa-icon [icon]="gauge"></fa-icon>
      </li>
      <li>
        <a href="#">Events</a>
          <fa-icon [icon]="gauge"></fa-icon>
      </li>
      <li>
        <a href="#">About</a>
          <fa-icon [icon]="gauge"></fa-icon>
      </li>
      <li>
        <a href="#">Services</a>
          <fa-icon [icon]="gauge"></fa-icon>
      </li>
      <li>
        <a href="#">Contact</a>
          <fa-icon [icon]="gauge"></fa-icon>
      </li>
    </ul>
  </div>
</div>

