/* Sidebar Styles */

#sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: fixed;
  height: 100vh;
  background: #37474F;
  z-index: 1;
}

/* Toggle Styles */

#viewport {
  /*padding-left: 250px;*/
  /*-webkit-transition: all 0.5s ease;*/
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*transition: all 0.5s ease;*/
  display: flex;
}


#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover{
  color: #fff;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

ul {
  display: flex;
  flex-direction: column;
}

ul li fa-icon{
  padding-top: 15px;
  padding-right: 12px;
  color: #CFD8DC;
  justify-content: space-between;
}

ul li{
  display: flex;
  justify-content: space-between;
}
