/* Sidebar Styles */

#sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: fixed;
  height: 100vh;
  background-color: #1C4E80;
  z-index: 1;
  border-top: 4px solid white;
}

/* Toggle Styles */

#viewport {
  /*padding-left: 250px;*/
  /*-webkit-transition: all 0.5s ease;*/
  /*-moz-transition: all 0.5s ease;*/
  /*-o-transition: all 0.5s ease;*/
  /*transition: all 0.5s ease;*/
  display: flex;
}


#sidebar header {
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  width: calc(100% - 45px - 21px);
  margin-left: 10px;
}

#sidebar header a:hover{
  color: #fff;
}

#sidebar .nav a{
  background: none;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 45px - 18px);
  text-transform: uppercase;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

ul {
  display: flex;
  flex-direction: column;
}

ul li i{
  /* padding-top: 16px; */
  padding-right: 12px;
    justify-content: space-between;
  font-size: 21px;
  width: calc(45px + 6px);
  text-align: center;
}
.sidebarbutton{
  padding-right: 12px;
    color: white;
    justify-content: space-between;
    font-size: 21px;
    width: calc(50px + 6px);
    text-align: center;
}
.nav button {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav button.active {
  color: #EA6A47;
  transform: scale(1.2);
}

button {
  color: white;
  font-size: 21px;
  border: none;
  background-color: transparent;
  padding-right: 20px;
}

ul li {
  display: flex;
  justify-content: space-between;
}

li.ng-tns-c15-0 {
  display: flex;
  align-items: center;
  padding: 19px 0px 18px 0px;
  justify-content: space-between;
}
.sidebarbutton {
  transition: ease-out 0.3s;
  color: white;
}

.sidebarbutton.active {
  color: #EA6A47;
}
