<div class="browser-state card">
  <div>
    <h3>{{ componentName }}</h3>
  </div>
  <div>
    <div class="bs-row" *ngFor="let x of patientOutreachedList; let i=index;">
      <div>
        <span>{{ x.title }}</span>
      </div>
      <div>
        <span>{{ x.value }}</span>
        <div class="chart-container bs-row-chart" style="position: relative;">
          <canvas
          [id]="chart_ID[i]"
          aria-label="Hello ARIA World"
          role="img"
          #chartCanvas
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
