.cont {
  display: flex;
  padding-bottom: 1rem;
  margin: 0;
  justify-content: center;
}

.chart-container {
  margin-left: 0.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.dough-containers {
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

app-md-card:nth-child(1)  {
  padding-bottom: 1rem;
}

#info{
  display: flex;
  flex-direction: row;
}

.card-body-info {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: center;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  background-color: #0c0c0c;
  border-radius: 15px;
  min-width: 9rem;
  align-self: center;
  color: #fff;
}

.topDep, .average{
  padding: 0.25rem 0;
  font-size: 10px;
  width: fit-content;
}

.topDep{
  background-color: limegreen;
  border-radius: 15px;
  margin-bottom: 0.2rem;
}

.average{
  background-color: gold;
  border-radius: 15px;
}

.topDep > div, .average > div{
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}

@media (max-device-width: 480px) {
  .cont {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    height: 62rem;
    align-items: center;
    justify-content: unset;
  }

  .chart-container {
    margin-left: 1rem;
  }


}
