<div id="cards-cont" class="cont">
    <div class="dough-containers">
      <app-md-card [depUserData]="depUserData1">
        <div title>Immediate Payments (IP)</div>
        <div class="card-body-info" *ngFor="let element of chartsInfo.at(0)" label>
          <div class="label">&nbsp;&nbsp;{{element.label}}&nbsp;&nbsp;</div>
          <div class="topDep"><div>Top Dep.: {{element.topDep}}</div></div>
          <div class="average"><div>Average: ${{element.average}}</div></div>
        </div>

      </app-md-card>
      <app-md-card [depUserData]="depUserData2">
        <div title>APP Payments (APP)</div>
        <div class="card-body-info" *ngFor="let element of chartsInfo.at(1)" label>
          <div class="label">&nbsp;&nbsp;{{element.label}}&nbsp;&nbsp;</div>
          <div class="topDep"><div>Top Dep.: {{element.topDep}}</div></div>
          <div class="average"><div>Average: ${{element.average}}</div></div>
        </div>
      </app-md-card>
    </div>
    <div class="chart-container">
      <app-bg-card [userData]="userData"></app-bg-card>
    </div>
</div>
