.cont {
  display: flex;
  padding-bottom: 1rem;
  margin: 0;
  justify-content: center;
}

.minCards-container {
  display: flex;
  justify-content: center;
}

.minCards-container > app-smallBar {

}

app-sm-card {
  padding: 0 0.5rem;
}

.chart-container {
  margin-left: 0.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.dough-container {
  padding-top: 1rem;
}

.left-container {
  padding-top: 1rem;
}

.filters {
    display: flex;
    justify-content: center;
}

.filterbyuser > button,
.filterbycategory > button{
  display: block;
  width: 160px;
  margin: 1rem;
}

@media (max-device-width: 480px) {
  .cont {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    height: 62rem;
    align-items: center;
    justify-content: unset;
  }

  /*.left-container {*/
  /*  max-width: fit-content;*/
  /*}*/

  .chart-container {
    margin-left: 1rem;
  }


}
