.cont {
  margin: 0;
  justify-content: center;
}

.chart-container {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.dough-containers {
  padding: 0.5rem 0;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-body-info {
  display: flex;
  flex-direction: column;
}

.label {
  min-width: 9rem;
  margin-left: -0.5rem;
}

.topDep, .average{
  padding: 0.25rem 0;
  font-size: 12px;
  width: fit-content;
  margin-left: 0.3rem;
}

.topDep{
  padding-top: 0;
}

.topDep  span:first-child, .average  span:first-child{
  font-weight: bold;
  color: black;
}

.label-subDiv{
  border-left: 4px solid #efc026;
  color: #48413f;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

@media (max-device-width: 480px) {
  .cont {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    height: 62rem;
    align-items: center;
    justify-content: unset;
  }

  .chart-container {
    margin-left: 1rem;
  }


}
